<!-- Localization completed -->
<div class="modern-modal-header">
    <div class="modern-modal-icon">
        <span class="glyphicon glyphicon-file"></span>
    </div>
    <h4 class="modern-modal-title" ng-if="isEditMode" localized>form.configuration.file.title.edit</h4>
    <h4 class="modern-modal-title" ng-if="!isEditMode" localized>form.configuration.file.title.add</h4>
    <button type="button" class="modern-modal-close" ng-click="closeModal()" aria-label="Close">&times;</button>
</div>

<div class='device-details-inline-error' ng-show='errorMessage'><span>{{errorMessage}}</span></div>
<div class='device-details-inline-success' ng-show='successMessage'><span>{{successMessage}}</span></div>

<div class='modal-body modern-modal-body'>
    <div class="design-field">
        <label class="design-field-label" for="fileSelection" localized>form.configuration.file.select</label>
        <select ng-options="file as file.name for file in files track by file.id" name="selectedFile"
                ng-model='file' class="form-control modern-select settings-input" id="fileSelection">
        </select>
        <div class="field-hint"><a ui-sref="files" class="action-link" localized>form.configuration.file.upload.new</a></div>
    </div>

    <div class="design-field">
        <label class="design-field-label" for="description" localized>form.configuration.file.description</label>
        <input ng-model='file.description' type='text' class="form-control logs-input settings-input" id="description"
               ng-disabled="file.id"
               localized-placeholder="form.configuration.file.description.placeholder" />
    </div>

    <div class="design-field">
        <div class="settings-field-row">
            <label class="design-field-label" for="fileExternal" localized>form.file.external</label>
            <span class="modern-toggle">
                <input localized-title="form.file.external.title" ng-model='file.external' type='checkbox'
                       ng-disabled="file.id" class="modern-toggle-input" id="fileExternal"/>
                <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
            </span>
        </div>
    </div>

    <div class="design-field" ng-if='!file.id && !file.external'>
        <label class="design-field-label" localized>form.configuration.file.file</label>
        <div class="btn btn-default full-width btn-upload"
             upload-button
             url="rest/private/web-ui-files/raw"
             on-upload="onStartedUpload(files)"
             on-progress="onUploadProgress(progress)"
             on-success="fileUploaded(response)"></div>
        <div ng-if="availableSpace" class="field-hint">{{availableSpace}}</div>
    </div>

    <div class="design-field" ng-if="!file.external">
        <label class="design-field-label" localized>form.file.name</label>
        <input type='text'
               ng-disabled="file.id"
               ng-model='file.filePath'
               class="form-control logs-input settings-input design-hex-input">
    </div>

    <div class="design-field" ng-if="file.external">
        <label class="design-field-label" localized>form.configuration.file.url</label>
        <input type='text'
               ng-disabled="file.id"
               ng-model='file.externalUrl'
               class="form-control logs-input settings-input"
               localized-placeholder='form.file.external.url.placeholder'>
    </div>

    <div class="design-field">
        <label class="design-field-label" localized>form.configuration.file.path</label>
        <input type='text'
               ng-disabled="file.id && !file.overridePath"
               ng-model='file.devicePath'
               localized-placeholder="form.file.device.path.placeholder"
               class="form-control logs-input settings-input design-hex-input">
    </div>

    <div class="design-field">
        <div class="settings-field-row">
            <label class="design-field-label" for="fileOverride" localized>form.configuration.file.override.path</label>
            <span class="modern-toggle">
                <input localized-title="form.configuration.file.override.path.title" ng-model='file.overridePath' type='checkbox'
                       ng-disabled='!file.id' class="modern-toggle-input" id="fileOverride"/>
                <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
            </span>
        </div>
    </div>

    <div class="design-field">
        <div class="settings-field-row">
            <label class="design-field-label" for="replaceVariables" localized>form.configuration.files.variables</label>
            <span class="modern-toggle">
                <input ng-disabled="file.id" ng-model='file.replaceVariables' type='checkbox' class="modern-toggle-input" id="replaceVariables"/>
                <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
            </span>
        </div>
        <div class="field-hint" localized>form.configuration.files.variables.hint</div>
    </div>

    <div class="design-field">
        <div class="settings-field-row">
            <label class="design-field-label" for="fileRemove" localized>table.heading.file.remove</label>
            <span class="modern-toggle">
                <input localized-title="table.heading.file.remove.hint" ng-model='file.remove' type='checkbox'
                       class="modern-toggle-input" id="fileRemove"/>
                <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
            </span>
        </div>
        <div class="field-hint" localized>table.heading.file.remove.hint</div>
    </div>

    <div class="modern-modal-actions">
        <div class="settings-button-row" style="justify-content: space-between;">
            <span class="field-hint" style="margin:0;" localized>form.configuration.file.save.note</span>
            <span class="settings-button-row">
                <div ng-if='loading'>
                    <img class='loading-spinner' src='images/loading.gif'/>
                </div>
                <button type='button' class='btn btn-default' ng-click='closeModal()' ng-disabled="loading" localized>button.cancel</button>
                <button type='submit' class='btn btn-default btn-modern-primary' ng-click='save()' ng-disabled="loading" localized>button.save</button>
            </span>
        </div>
    </div>
</div>
