<!-- Localization completed -->
<div class="modern-modal-header">
    <div class="modern-modal-icon">
        <span class="glyphicon glyphicon-option-horizontal"></span>
    </div>
    <h4 class="modern-modal-title">{{application.name}}</h4>
    <button type="button" class="modern-modal-close" ng-click="closeModal()" aria-label="Close">&times;</button>
</div>

<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<div class='modal-body modern-modal-body'>
    <div class="design-field">
        <label class="design-field-label" for="c_keyCode" localized>form.configuration.apps.keycode</label>
        <input type="text" id="c_keyCode" class="form-control logs-input" ng-model="application.keyCode"/>
    </div>

    <div class="design-field">
        <div class="settings-field-row">
            <label class="design-field-label" for="c_bottom" localized>form.configuration.apps.bottom</label>
            <span class="modern-toggle">
                <input type="checkbox" id="c_bottom" class="modern-toggle-input" ng-model="application.bottom">
                <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
            </span>
        </div>
    </div>

    <div class="design-field">
        <div class="settings-field-row">
            <label class="design-field-label" for="c_longtap" localized>form.configuration.apps.long.tap</label>
            <span class="modern-toggle">
                <input type="checkbox" id="c_longtap" class="modern-toggle-input" ng-model="application.longTap">
                <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
            </span>
        </div>
    </div>

    <div class="modern-modal-actions text-center">
        <button type='button' class='btn btn-default btn-modern-primary' ng-click='closeModal()' localized>button.close</button>
    </div>
</div>
