<!-- Localization completed -->
<div class="modern-modal-header">
    <div class="modern-modal-icon">
        <span class="glyphicon glyphicon-duplicate"></span>
    </div>
    <h4 class="modern-modal-title" localized>modal.configuration.title.copy</h4>
    <button type="button" class="modern-modal-close" ng-click="closeModal()" aria-label="Close">&times;</button>
</div>

<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<div class='modal-body modern-modal-body'>
    <form>

        <div class="design-field">
            <label class="design-field-label" localized>form.configuration.copy.new.name</label>
            <input ng-model='configuration.name' required type='text' class='form-control logs-input'
                   localized-placeholder='form.configuration.copy.new.name.placeholder'/>
        </div>

        <div class="design-field">
            <label class="design-field-label" localized>form.configuration.settings.common.desc</label>
            <textarea ng-model='configuration.description' class='form-control logs-input no-resize'
                      localized-placeholder='form.configuration.settings.common.desc.placeholder'></textarea>
        </div>

        <div class="modern-modal-actions">
            <button type='button' class='btn btn-default' ng-click='closeModal()' localized>button.cancel</button>
            <button type='submit' class='btn btn-modern-primary' ng-disabled="saving" ng-click='save()'>
                <span ng-if="!saving" localized>button.save</span>
                <span ng-if="saving" localized>form.configuration.copy.saving</span>
            </button>
        </div>
    </form>
</div>
