<!-- Localization completed -->
<div class="modern-modal-header">
    <div class="modern-modal-icon">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <h4 class="modern-modal-title" ng-if="!user.id" localized>form.user.modal.title.add</h4>
    <h4 class="modern-modal-title" ng-if="user.id">{{'form.user.modal.title.edit.prefix' | localize}} {{user.login}}</h4>
    <button type="button" class="modern-modal-close" ng-click="closeModal()" aria-label="Close">&times;</button>
</div>

<div class='modal-body modern-modal-body'>

    <div ng-show='errorMessage' class='device-details-inline-error'><span>{{errorMessage}}</span></div>

    <form class='form-horizontal'>

        <div class="modern-form-section" localized>form.user.section.account</div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.login</label>
            <div class='col-sm-9'>
                <input ng-model='user.login' required type='text' class='form-control logs-input'
                       localized-placeholder='form.user.login.placeholder'/>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.name</label>
            <div class='col-sm-9'>
                <input ng-model='user.name' required type='text' class='form-control logs-input'
                       localized-placeholder='form.user.name.placeholder'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.email</label>
            <div class='col-sm-9'>
                <input ng-model='user.email' required type='text' class='form-control logs-input'
                       localized-placeholder='form.user.email.placeholder'>
            </div>
        </div>

        <div class="modern-form-section" localized>form.user.section.security</div>

        <div class='form-group' ng-if="!changingPassword">
            <div class='col-sm-9 col-sm-offset-3'>
                <button type="button" class="logs-btn-reset" ng-click="startChangingPassword()" localized>form.user.change.password</button>
            </div>
        </div>

        <div ng-if="changingPassword">
            <div class='form-group'>
                <label for='newPassword' class='col-sm-3 control-label' ng-if="user.id > 0" localized>form.user.password.new</label>
                <label for='newPassword' class='col-sm-3 control-label' ng-if="!user.id" localized>form.user.password</label>
                <div class='col-sm-9'>
                    <div class="users-password-row">
                        <input ng-model='user.newPassword' ng-attr-type="{{showPassword ? 'text' : 'password'}}"
                               class='form-control logs-input' id='newPassword'
                               ng-class="{'modern-input-invalid': errorMessage === ('error.mismatch.password' | localize)}"
                               localized-placeholder='form.user.password.new.placeholder'>
                        <button type="button" class="logs-btn-reset users-password-toggle" ng-click="showPassword = !showPassword">
                            <span ng-if="!showPassword" localized>form.user.password.show</span>
                            <span ng-if="showPassword" localized>form.user.password.hide</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class='form-group'>
                <label for='confirm' class='col-sm-3 control-label' localized>form.user.password.confirm</label>
                <div class='col-sm-9'>
                    <div class="users-password-row">
                        <input ng-model='user.confirm' ng-attr-type="{{showConfirm ? 'text' : 'password'}}"
                               class='form-control logs-input' id='confirm'
                               ng-class="{'modern-input-invalid': errorMessage === ('error.mismatch.password' | localize)}"
                               localized-placeholder='form.user.password.confirm.placeholder'>
                        <button type="button" class="logs-btn-reset users-password-toggle" ng-click="showConfirm = !showConfirm">
                            <span ng-if="!showConfirm" localized>form.user.password.show</span>
                            <span ng-if="showConfirm" localized>form.user.password.hide</span>
                        </button>
                    </div>
                    <div class="field-hint">{{qualityMessage}}</div>
                </div>
            </div>
        </div>

        <div class="modern-form-section" localized>form.user.section.access</div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.role</label>
            <div class='col-sm-9'>
                <select class='form-control modern-select' ng-model='user.userRole.id'>
                    <option ng-repeat="userRole in userRoles"
                            ng-value="userRole.id" ng-selected="user.userRole.id === userRole.id">{{userRole.name}}</option>
                </select>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.all.devices.available</label>
            <div class='col-sm-9'>
                <span class="modern-toggle">
                    <input type="checkbox" class="modern-toggle-input" ng-model="user.allDevicesAvailable">
                    <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
                </span>
            </div>
        </div>

        <div class='form-group' ng-if="!user.allDevicesAvailable">
            <label class='col-sm-3 control-label' localized>form.user.available.groups</label>
            <div class='col-sm-9'>
                <div ng-dropdown-multiselect
                     options='groupsList'
                     translation-texts='tableGroupsTexts'
                     selected-model='groupsSelection'
                     class='left margin-right-half custom-multi-select'></div>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label' localized>form.user.all.configs.available</label>
            <div class='col-sm-9'>
                <span class="modern-toggle">
                    <input type="checkbox" class="modern-toggle-input" ng-model="user.allConfigAvailable">
                    <span class="modern-toggle-track"><span class="modern-toggle-knob"></span></span>
                </span>
            </div>
        </div>

        <div class='form-group' ng-if="!user.allConfigAvailable">
            <label class='col-sm-3 control-label' localized>form.user.available.configs</label>
            <div class='col-sm-9'>
                <div ng-dropdown-multiselect
                     options='configsList'
                     translation-texts='tableConfigsTexts'
                     selected-model='configSelection'
                     class='left margin-right-half custom-multi-select'></div>
            </div>
        </div>

        <div class='form-group modern-modal-actions'>
            <div class='col-sm-offset-3 col-sm-9'>
                <button type='button' class='btn btn-default' ng-click='closeModal()' localized>button.cancel</button>
                <button type='submit' class='btn btn-modern-primary' ng-disabled="savingUser" ng-click='save()'>
                    <span ng-if="!savingUser && user.id" localized>button.save</span>
                    <span ng-if="!savingUser && !user.id" localized>form.user.create</span>
                    <span ng-if="savingUser" localized>form.user.saving</span>
                </button>
            </div>
        </div>
    </form>
</div>
